
[submodule "holyBurger"]
	path = holyBurger
	url = https://github.com/madmandrew/HolyBurger.git
[submodule "HolyBurger"]
	path = HolyBurger
	url = https://github.com/madmandrew/HolyBurger.git
[submodule "xsAndos"]
	path = xsAndos
	url = https://github.com/madmandrew/xsAndos.git
