html {
    height: 80%;
}

body {
    background-image: url("images/background-image.jpg");
    background-size: cover;
    padding: 0;
    margin: 0;
    height: 100%;
}

h1 {
    color: #FFFFFF;
}

p {
    color: #FFFFFF;
    text-shadow: 1px 1px black;
}

div.projectList ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div.projectList li{

}
div.projectList a{
    font-weight: bolder;
    color: #FFFFFF;
}

div.header ul{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.header li{
    display: inline;
    float: left;
}

div.header a {
    display: block;
    width: 100px;
    height: 24px;
    font-weight: bolder;
    color: #FFFFFF;
    background-color: #455A64;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

div.header a:hover, a:active {
    background-color: #9E9E9E;
}

.header {
    background-color: #455A64;
    text-align: center;
    width: 100%;
    height: 60px;

}

.circular {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    background: url(images/marriage-image.jpg) no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 50px #FFFFFF;
    float: left
}

.aboutInfo {
    background: #607D8B;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    height: 100%;
    text-align: center;
}
