.progressBarContainer {
    border-style: solid;
    border-color: red;
    background-color: blue;
    height: 25px;
    width: 400px;
    color: aqua;
    transition: transform 2s;
}

.progressBar {
    background-color: green;
    height: 100%;
    width: 0px;
    transition: width 5s linear;
}

.progressBarContainer:hover {
    transform: rotate(180deg);
}

.progressBarFill {
    width: 100%;
}

.progressBarStop {
    width: 0;
}
